* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5rem;
}

/* UTILITIES */

.d-flex {
    display: flex;
}

.justify-sb {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* HEADER */

header {
    height: 4.75rem;
    background-color: #0084fd;
    padding: 1rem 2rem;
    color: white;
}

header .logo {
    width: 80px;
}

header .fa-bars {
    font-size: 1.5rem;
}

/* boxes */

.demo-app {
    padding: 20px;
    width: 100%;
}

.box {
    background-color: #b5ddff;
    color: #5c7082;
    padding: 2rem 2rem 0 2rem;
    border-radius: 1.5rem;
    margin: 12px;
}

.box img {
    width: 200px;
    align-self: center;
}

.box h4 {
    color: #0084fd;
}

.demo-app .box .fa-solid {
    font-size: 4rem;
    color: #0084fd;
}

.text-card {
    text-align: center;
}

/* MEDIA */

@media screen and (min-width: 425px) {
    .row:first-child {
        width: calc(2 / 3 * 100% - 24px);
    }

    .box.text-card {
        width: calc(100% / 3 - 24px);
    }
}